{% comment %} <div class="container">
    <div class="col-md-4">
        <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">
            
            <input class="form-control" formControlName="id" type="hidden" />
            
            <div class="form-group">
                <label>Båtnavn</label>
                <input class="form-control" formControlName="navn" />
                <p class="alert alert-warning" [hidden]="skjema.controls.navn.valid || (skjema.controls.navn.pristine && !submitted)">
                    Fornavn er obligatorisk.
                </p>
            </div>
            
            <div class="form-group">
                <button type="submit" [disabled]="!skjema.valid" class="btn btn-primary">Endre</button>
                <button class="btn btn-default" routerLink="/baater">Tilbake</button>
            </div>
        </form>
    </div>
</div>
 {% endcomment %}