<div class="container">
    <h2> Alle bestillinger: </h2>
    <div>
        <div class="col-md-6">
            <div *ngIf="laster">Laster bestillinger.....</div>
            <button class='btn btn-primary' (click)="leggTilBestilling()">Legg til bestilling</button>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Kunde</th>
                        <th>Totalpris</th>
                        <th>Billetter</th>
                        <th>Betalt</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let bestilling of alleBestillinger">
                    <tr>
                        <td>{{bestilling.beId}}</td>
                        <td>{{bestilling.kId}}</td>
                        <td>{{bestilling.totalPris}}</td>
                        <td><button class="btn btn-primary" (click)="visBilletter(bestilling.beId)">Vis alle
                                billetter</button></td>
                        <td>{{bestilling.betalt}}</td>
                        <td><button class="btn btn-danger" (click)="slettBestilling(bestilling.beId)">Slett</button>
                        </td>
                        <td><button class="btn btn-success" (click)="endreBestilling(bestilling.beId)">Endre</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>