<!--Endre Båt-->

<div class="container" *ngIf="visEndreBaat">
    <div class="col-md-4">
        <form [formGroup]="skjemaBaat" (ngSubmit)="vedSubmit('baat')">

            <input class="form-control" formControlName="id" type="hidden" />

            <div class="form-group">
                <label>Båtnavn</label>
                <input class="form-control" formControlName="navn" />
                <p class="alert alert-warning"
                    [hidden]="skjemaBaat.controls.navn.valid || skjemaRute.controls.startpunkt.pristine && skjemaBaat.controls.navn.touched">
                    Kan være mellom 2-20 bokstaver
                </p>
                <p class="alert alert-warning" [hidden]="!skjemaBaat.controls.navn.hasError('required')">
                    Båtnavn er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!skjemaBaat.valid" class="btn btn-primary">Endre</button>
                <button class="btn btn-default" routerLink="/baater">Tilbake</button>
            </div>
        </form>
    </div>
</div>


<!--Endre Rute-->

<div class="container" *ngIf="visEndreRute">
    <div class="col-md-4">
        <form [formGroup]="skjemaRute" (ngSubmit)="vedSubmit('rute')">

            <input class="form-control" formControlName="id" type="hidden" />

            <div class="form-group">
                <label>Avreisehavn</label>
                <input class="form-control" formControlName="startpunkt" />
                <p class="alert alert-warning"
                    [hidden]="skjemaRute.controls.startpunkt.valid || (skjemaRute.controls.startpunkt.pristine)">
                    Avreisehavn er obligatorisk
                </p>
            </div>

            <div class="form-group">
                <label>Ankomsthavn</label>
                <input class="form-control" formControlName="endepunkt" />
                <p class="alert alert-warning"
                    [hidden]="skjemaRute.controls.endepunkt.valid || (skjemaRute.controls.endepunkt.pristine)">
                    Endepunkt er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <label>Pris</label>
                <input class="form-control" formControlName="pris" />
                <p class="alert alert-warning"
                    [hidden]="skjemaRute.controls.pris.valid || (skjemaRute.controls.pris.pristine)">
                    Pris er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!skjemaRute.valid" class="btn btn-primary">Endre</button>
                <button class="btn btn-default" routerLink="/ruter">Tilbake</button>
            </div>
        </form>
    </div>
</div>


<!--Endre Kunde-->
<div class="container" *ngIf="visEndreKunde">
    <div class="col-md-4">
        <form [formGroup]="skjemaKunde" (ngSubmit)="vedSubmit('kunde')">
            <input class="form-control" formControlName="id" type="hidden" />

            <div class="form-group">
                <label>Fornavn</label>
                <input class="form-control" formControlName="fornavn" />
                <p class="alert alert-warning"
                    [hidden]="skjemaKunde.controls.fornavn.valid || (skjemaKunde.controls.fornavn.pristine)">
                    Fornavn er obligatorisk
                </p>
            </div>

            <div class="form-group">
                <label>Etternavn</label>
                <input class="form-control" formControlName="etternavn" />
                <p class="alert alert-warning"
                    [hidden]="skjemaKunde.controls.etternavn.valid || (skjemaKunde.controls.etternavn.pristine)">
                    Etternavn er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <label>Epost</label>
                <input class="form-control" formControlName="epost" />
                <p class="alert alert-warning"
                    [hidden]="skjemaKunde.controls.epost.valid || (skjemaKunde.controls.epost.pristine)">
                    Epost er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <label>Telefonummer</label>
                <input class="form-control" formControlName="telefonnr" />
                <p class="alert alert-warning"
                    [hidden]="skjemaKunde.controls.telefonnr.valid || (skjemaKunde.controls.telefonnr.pristine)">
                    Telefonnummer er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <button type="submit" [disabled]="!skjemaKunde.valid" class="btn btn-primary">Endre</button>
                <button class="btn btn-default" routerLink="/kunder">Tilbake</button>
            </div>
        </form>
    </div>
</div>


<!--Endre Ferd-->
<div class="container" *ngIf="visEndreFerd">
    <div class="col-md-4">
        <form [formGroup]="skjemaFerd" (ngSubmit)="vedSubmit('ferd')">
            <input class="form-control" formControlName="fId" type="hidden" />


            <div class="form-group">
                <label>bId</label>
                <select class="form-control" formControlName="bId">
                    <option *ngFor="let baat of alleBaater" [ngValue]="baat.id">{{baat.navn}}</option>
                </select>
            </div>
            <p class="alert alert-warning " [hidden]="skjemaFerd.controls.bId.valid || skjemaFerd.controls.bId.hasError('required') ">
                er obligatorisk.
            </p>


            <div class="form-group">
                <label>rId</label>
                <select class="form-control" formControlName="rId">
                    <option *ngFor="let rute of alleRuter" [ngValue]="rute.id">{{rute.startpunkt + ' - ' + rute.endepunkt}}</option>
                </select>
            </div>
            <p class="alert alert-warning " [hidden]="skjemaFerd.controls.rId.valid || skjemaFerd.controls.rId.hasError('required') ">
                er obligatorisk.
            </p>


            <div class="form-group">
                <label>Avreise Tid</label>
                <input class="form-control " formControlName="avreiseTid" />
                <p class="alert alert-warning " [hidden]="skjemaFerd.controls.avreiseTid.valid || (skjemaFerd.controls.avreiseTid.pristine) ">
                    er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <label>Ankomst Tid</label>
                <input class="form-control " formControlName="ankomstTid" />
                <p class="alert alert-warning " [hidden]="skjemaFerd.controls.ankomstTid.valid || (skjemaFerd.controls.ankomstTid.pristine) ">
                    er obligatorisk.
                </p>
            </div>

            <div class="form-group">
                <button type="submit " [disabled]="!skjemaFerd.valid " class="btn btn-primary ">Endre</button>
                <button class="btn btn-default " routerLink="/kunder ">Tilbake</button>
            </div>
        </form>
    </div>
</div>