<div class="container">
    <button class='btn btn-primary col-sm-3 mb-4 ' (click)="leggTilKunde()">Legg til rute</button>
    <div>
        <div class="col-md-12">
            <h2 class="mb-4"> Alle kunder: </h2>
            <div *ngIf="laster">Laster kunder.....</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fornavn</th>
                        <th>Etternavn</th>
                        <th>Epost</th>
                        <th>Telefonnr</th>
                    </tr>
                </thead>
                <tbody *ngFor="let kunde of alleKunder">
                    <tr>
                        <td>{{kunde.id}}</td>
                        <td>{{kunde.fornavn}}</td>
                        <td>{{kunde.etternavn}}</td>
                        <td>{{kunde.epost}}</td>
                        <td>{{kunde.telefonnr}}</td>
                        <td><button class="btn btn-danger" (click)="visModalOgSlett(kunde.id)">Slett</button></td>
                        <td><button class="btn btn-success" (click)="endreKunde(kunde.id)">Endre</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>