<div class="container">
    <button class='btn btn-primary col-sm-3 mb-4' (click)="leggTilFerd()">Legg til ferd</button>
    <div>
        <div class="col-md-12">
            <h2> Alle ferdene: </h2>
            <div *ngIf="laster">Laster ferder.....</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Båt-id</th>
                        <th>Rute-id</th>
                        <th>Avreisetid</th>
                        <th>Ankomsttid</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let ferd of alleFerder">
                    <tr>
                        <td>{{ferd.fId}}</td>
                        <td>{{ferd.bId}}</td>
                        <td>{{ferd.rId}}</td>
                        <td>{{ferd.avreiseTid | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{ferd.ankomstTid | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td><button class="btn btn-danger" (click)="visModalOgSlett(ferd.fId)">Slett</button></td>
                        <td><button class="btn btn-success" (click)="endreFerd(ferd.fId)">Endre</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>