<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Ny Ferd</h4>
    </div>

    <div class="modal-body">
        <form [formGroup]="forms" (ngSubmit)="vedSubmit()">

<!--          
          <div class="form-group row">
            <div class="col-sm-4">
              <input type="number" formControlName="bIdForm" class="form-control" placeholder="Båt ID" autofocus />
            </div>
            <div>
              <small class="alert alert-warning"
                [hidden]="forms.controls.bIdForm.valid || forms.controls.bIdForm.pristine">
                En ID kan kun bestå av positive tall
              </small>
            </div>
          </div>
            
          <div class="form-group row">
            <div class="col-sm-4">
              <input type="number" formControlName="rIdForm" class="form-control" placeholder="Rute ID" autofocus />
            </div>
            <div>
              <small class="alert alert-warning"
                [hidden]="forms.controls.rIdForm.valid || forms.controls.rIdForm.pristine">
                En ID kan kun bestå av positive tall
              </small>
            </div>
          </div>
-->
          <div class="form-group">
            <label>Båt navn (bId)</label>
            <select class="form-control " formControlName="bIdForm">
                <option *ngFor="let baat of alleBaater" [ngValue]="baat.id">{{baat.navn}}</option>
            </select>
            <p class="alert alert-warning " [hidden]="forms.controls.bIdForm.valid || forms.controls.bIdForm.hasError('required')">
              er obligatorisk.
            </p>
          </div>
         


          <div class="form-group">
            <label>Rute (rId)</label>
            <select class="form-control" formControlName="rIdForm">
                <option *ngFor="let rute of alleRuter " [ngValue]="rute.id">{{rute.startpunkt + ' - ' + rute.endepunkt}}</option>
            </select>
            <p class="alert alert-warning" [hidden]="forms.controls.rIdForm.valid || forms.controls.rIdForm.hasError('required')">
              er obligatorisk.
            </p>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <input type="text" formControlName="avreiseDatoForm" class="form-control" placeholder="Avreise dato" autofocus />
            </div>
            <div>
              <small class="alert alert-warning"
                [hidden]="forms.controls.avreiseDatoForm.valid || forms.controls.avreiseDatoForm.pristine">
                Behold dato formatet: dd/MM/yyyy
              </small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <input type="text" formControlName="avreiseKlokkeslettForm" class="form-control" placeholder="Avreise tid" autofocus />
            </div>
            <div>
              <small class="alert alert-warning"
                [hidden]="forms.controls.avreiseKlokkeslettForm.valid || forms.controls.avreiseKlokkeslettForm.pristine">
                Avreise tiden må ha følgende formatet: HH:mm
              </small>
            </div>
          </div>
          
          <div class="form-group row">
            <div class="col-sm-4">
              <input type="text" formControlName="ankomstDatoForm" class="form-control" placeholder="Ankomst dato" autofocus />
            </div>
            <div>
              <small class="alert alert-warning"
                [hidden]="forms.controls.ankomstDatoForm.valid || forms.controls.ankomstDatoForm.pristine">
                Behold dato formatet: dd/MM/yyyy (Må være etter førrige datoen)
              </small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4">
              <input type="text" formControlName="ankomstKlokkeslettForm" class="form-control" placeholder="Ankomst tid" autofocus />
            </div>
            <div>
              <small class="alert alert-warning"
                [hidden]="forms.controls.ankomstKlokkeslettForm.valid || forms.controls.ankomstKlokkeslettForm.pristine">
                Ankomst tiden må ha følgende formatet: HH:mm
              </small>
            </div>
          </div>

          <div class="modal-footer">      
            <button type="button" class="btn btn-default" (click)="modal.close('Lukk')">Lukk</button>
            <button type="submit" class="btn btn-success" [disabled]="!forms.valid">Lagre</button>
          </div>
            
        </form>
    </div>
</div>