/* You can add global styles to this file, and also import other style files */

.modal-xlg {
  width: 1200px;
}
/* .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
    .form-signin .form-floating:focus-within {
      z-index: 2;
    }
  
  .top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  
  .buttom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
   */

/* .container-login {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
} */
