<div class="container">
    <button class='btn btn-primary col-sm-3 mb-4 ' (click)="leggTilRute()">Legg til rute</button>
    <div>
        <div class="col-md-12">
            <h2 class="mb-4"> Alle ruter: </h2>
            <div *ngIf="laster">Laster ruter.....</div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Avreisehavn</th>
                        <th>Ankomsthavn</th>
                        <th>Pris</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody *ngFor="let rute of alleRuter">
                    <tr>
                        <td>{{rute.id}}</td>
                        <td>{{rute.startpunkt}}</td>
                        <td>{{rute.endepunkt}}</td>
                        <td>{{rute.pris}}</td>
                        <td><button class="btn btn-danger" (click)="visModalOgSlett(rute.id)">Slett</button></td>
                        <td><button class="btn btn-success" (click)="endreRute(rute.id)">Endre</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>